button.recommend-likes {
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	text-decoration: none;
	color: #484848;
	cursor: pointer;
}

button.recommend-likes:hover, 
button.recommend-likes:focus {
	color: #333333;
}

button.recommend-likes svg.recommend-likes-icon {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	fill: #AD000E;
}

button.recommend-likes:hover svg.recommend-likes-icon, 
button.recommend-likes:focus svg.recommend-likes-icon {
	fill: #AD000E;
}

button.recommend-likes span.recommend-likes-count {
	display: inline-block;
	margin-left: 6px;
}